{{!-- <div id="notifications">
    <div id="successBox" class="alert alert-success" role="alert">{Success Message...}</div>
    <div id="loadingBox" class="alert alert-info" role="alert">Loading...</div>
    <div id="errorBox" class="alert alert-danger" role="alert">{Error Message...}</div>
</div> --}}

<div id="notifications">
    {{#each msgs}}
    <div class="alert {{class}} alert-dismissible fade show" >
        {{msg}}
        <button type="button" class="close" data-dismiss="alert"> &times;</button>
    </div>
    {{/each}}
</div>

<script>

//Set all success messages to a momentary display status.
document.querySelectorAll('.alert-success').forEach(msg=>{
        setTimeout(()=>{
            msg.remove();
    },5000)
})

//Set all success messages to a momentary display status.
document.querySelectorAll('.alert-primary').forEach(msg=>{
        setTimeout(()=>{
            msg.remove();
    },1500)
})


</script>